h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --navy-color: #2e2f42;
  --slate-color: #434455;
  --ocean-color: #404bbf;
  --iris-color: #4d5ae5;
  --white-color: #ffffff;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --light-slate-color: #8e8f99;
  --green-color: #31d0aa;
}

body {
  font-family: var(--primary-font);
  color: var(--navy-color);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-color);
    align-items: center;
  }

  .logo-web {
    color: var(--iris-color);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .mobile-menu-open {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mobile-menu-open {
    background-color: transparent;
    /* border: none; */
    padding: 0;
  }
}

/* 
.section {
  padding-bottom: 120px;
  padding-top: 120px;
} */

/* =========HEADER========= */

/* .main-nav {
  display: flex;
  border-bottom: 1px solid var(--cornflower-color);
}
.page-nav,
.contacts {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-color);
}

.logo-web {
  color: var(--iris-color);
}

.menu {
  display: flex;
  margin-left: 76px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 27px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean-color);
}

.active {
  color: var(--ocean-color);
}

.active::after {
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean-color);
  left: 0;
  bottom: 0;
}

.contacts {
  margin-left: auto;
}

.cont-nav {
  display: flex;
  margin-left: auto;
}

.cont-nav .item + .item {
  margin-left: 40px;
}

.contact-mail-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(---slate-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail-link:hover,
.contact-mail-link:focus {
  color: var(--ocean-color);
}

.contact-phone-number-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-phone-number-link:hover,
.contact-phone-number-link:focus {
  color: var(--ocean-color);
} */

/* =========HERO========= */

/* .hero {
  background-color: var(--navy-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-text {
  font-size: 56px;
  line-height: 1.07;
  width: 511px;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin: 0 auto 45px;
} */

/* =========HERO BUTTON========= */

/* .hero-button {
  padding: 16px 32px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
  box-shadow: 0px 4px 4px 0px #00000026;
} */

/* =========ADVANTAGES========= */

/* .title {
  display: flex;
}

.title-item:not(:last-child) {
  margin-right: 24px;
}

.title-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.icon-advantages {
  width: 64px;
  height: 64px;
}

.icon-advantages-list {
  display: flex;
  width: 264px;
  height: 112px;
  background-color: var(--cloud-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.title-text {
  margin-top: 8px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(---navy-color);
} */

/* =========CONTENT WORKING========= */

/* .working-section {
  padding-top: 0;
}

.content-working {
  display: flex;
}

.content-image:not(:last-child) {
  margin-right: 24px;
}

.subject-working {
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
} */

/* =========OUR TEAM========= */

/* .subject-team {
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.our-team {
  background-color: var(--cloud-color);
}

.team {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  align-items: center;
  margin-bottom: 8px;
}

.team-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-items: center;
  color: var(--slate-color);
}

.group-team {
  display: flex;
  justify-content: space-between;
}

.content-team {
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.social-list {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  gap: 24px;
}

.social-list-icon {
  width: 16px;
  height: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  fill: var(--cloud-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--ocean-color);
} */

/* =========CUSTOMERS========= */

/* .customers-section {
  padding-top: 0px;
}

.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-color);
  padding-top: 130px;
  text-align: center;
  text-transform: capitalize;
}

.customers-list {
  display: flex;
  padding-top: 72px;
  gap: 24px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  fill: var(--light-slate-color);

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  fill: var(--ocean-color);
  border: 1px solid var(--ocean-color);
}

.customers-list-icon {
  width: 104px;
  height: 56px;
} */

/* =========FOOTER========= */

/* .footer {
  width: 264px;
}

.footer-list-text {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: block;
  font-family: var(--secondary-font);
  color: var(--cloud-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-text {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navy-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower-color);
} */

/* =========FOOTER SOCIAL LIST========= */

/* .footer-social-list {
  display: block;
  margin-left: 120px;
}

.footer-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
}

.footer-list {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.footer-list-icon {
  width: 16px;
  height: 16px;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff10;
  fill: var(--cloud-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--green-color);
} */

/* =========FOOTER SUBSCRIPTION========= */

/* .footer-subscription {
  font-family: var(--primary-font);
  display: block;
  margin-left: 80px;
}

.subscribe-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--white-color);
}

.subscription-form {
  display: flex;
  margin-top: 16px;
}

.subscription-label{
  margin-right: 24px;
}

input {
  padding: 8px 24px;
}

.subscription-mail {
  font-size: 12px;
  line-height: 2;
  width: 264px;

  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-mail:focus {
  outline: none;
  border: 1px solid var(--iris-color);
}

.subscription-btn {
  position: relative;
  width: 165px;
  background-color: var(--iris-color);
  border-radius: 4px;
  padding: 8px 64px 8px 24px;

  border: transparent;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;

  letter-spacing: 0.04em;

  color: var(--white-color);
}

.subscribe-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
} */

/* =========WORKS BUTTON========= */

/* .main-button {
  padding-top: 96px;
}

.button-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.button-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
  box-shadow: 0px 4px 4px 0px #00000026;
}

.button-item:not(:last-child) {
  margin-right: 24px;
}

.nav-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background: var(--cornflower-color);
  padding: 12px 24px;
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
} */

/* =========WORKS CARDS========= */

/* .works-cards {
  display: flex;
  flex-wrap: wrap;
}

.works-cards-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
}

.works-cards-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-cards-link:hover,
.works-cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-cards-item:nth-child(3n) {
  margin-right: 0;
}

.works-cards-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-wrapper {
  position: relative;
  overflow: hidden;
}

.card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--cornflower-color);
  border-left: 1px solid var(--cornflower-color);
  border-bottom: 1px solid var(--cornflower-color);
} */

/* =========OVERLAY========= */

/* .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;

  transform: translate(0, 100%);
  transition: transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
  transition-duration: 300ms;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  background-color: var(--iris-color);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;

  padding: 40px 32px 164px 32px;
}

.works-wrapper-link:hover .overlay,
.works-wrapper-link:focus .overlay {
  transform: translate(0, 0);
} */

/* =========BACKDROP========= */

/* .backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
  transition-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
} */

/* =========MODAL========= */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding:72px 24px 24px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border: #0000001a;
  border-radius: 50%;
  padding: 0;
  background-color: var(--cornflower-color);

  position: absolute;
  top: 24px;
  right: 24px;

  transition: background-color;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean-color);
  fill: var(--white-color);
}

.close-btn {
  width: 8px;
  height: 8px;
  background-color: transparent;
} */

/* =========DESIGN MODAL========= */

/* .header-modal {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 360px;

  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--light-slate-color);
}

.modal-btn {
  text-align: center;
}

.send-btn {
  font-weight: 500;
  width: 169px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background: var(--iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;

  margin-top: 24px;
}

.label-form-text {
  margin-bottom: 8px;
}

.label-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.textarea-wrapper {
  margin-bottom: 0px;
}

.textarea-text {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  margin-top: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-text:focus {
  outline: none;
  border: 1px solid var(--iris-color);
}

.textarea-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-text {
  width: 100%;
  height: 40px;
  left: 0px;
  top: 84px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:focus {
  outline: none;
  border: 1px solid var(--iris-color);
}

.modal-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  fill: var(--navy-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:focus + .modal-icon {
  fill: var(--iris-color);
}

.check {
  position: relative;
  margin-top: 16px;
  color: #757575;
  padding-left: 24px;
  letter-spacing: 0.04em;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -24px;
  background-image: url('../images/checkbox.svg');
  top: 50%;
  transform: translateY(-50%);

  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-icon {
  background-image: url('../images/checkbox-click.svg');
} */
